# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Create a table with Markdown syntax
- Create code cells to do arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. dplyr (R)
2. ggplot2 (R)
3. caret (R)
4. NumPy (Python)
5. Pandas (Python)
6. Matplotlib (Python)

| Data Science Tools |
| ----------------------|
| Rstudio |
| VS Code |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
print((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
print(200/60)

3.3333333333333335

## Author
Roberto Rodr√≠guez